flows_pi1.json
[{"id":"6f7d319e.7b6f3","type":"tab","label":"PiCam1"},{"id":"79f8b834.df84b8","type":"aws-config","z":""},{"id":"b026a4bf.c3f7c8","type":"watch","z":"6f7d319e.7b6f3","name":"PhotosDir","files":"/home/pi","x":100,"y":180,"wires":[["142e2d8f.68f2a2"]]},{"id":"4e656221.64b39c","type":"function","z":"6f7d319e.7b6f3","name":"ConcatFileName","func":"var curFile = { payload: msg.payload };\n// var fileName = \"\";\n// fileName = curFile.topic + \"/\" + curFile.file;\n// fileName = msg.payload;\nreturn curFile;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["ea93204d.f8231"]]},{"id":"ea93204d.f8231","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":550,"y":460,"wires":[]},{"id":"fb42f1fd.b429b","type":"amazon s3 out","z":"6f7d319e.7b6f3","aws":"79f8b834.df84b8","bucket":"macewan-home-backdoor","filename":"msg.file","localFilename":"msg.payload","region":"us-west-2","name":"","x":640,"y":240,"wires":[]},{"id":"142e2d8f.68f2a2","type":"delay","z":"6f7d319e.7b6f3","name":"","pauseType":"timed","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":180,"wires":[["b0a7989d.718868","ce57f3fa.0217b"]]},{"id":"b0a7989d.718868","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":570,"y":180,"wires":[]},{"id":"63596554.ca2b4c","type":"file in","z":"6f7d319e.7b6f3","name":"","filename":"msg.data","format":"","x":560,"y":540,"wires":[["a5095121.ca15e"]]},{"id":"a5095121.ca15e","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":780,"y":540,"wires":[]},{"id":"ce57f3fa.0217b","type":"Save Blob","z":"6f7d319e.7b6f3","name":"Azure Save Blob Storage","x":630,"y":300,"wires":[["ceee1c22.0f2ab"]]},{"id":"ceee1c22.0f2ab","type":"debug","z":"6f7d319e.7b6f3","name":"","active":true,"console":"false","complete":"true","x":840,"y":300,"wires":[]}]