flows_pi2.json
[{"id":"6f7d319e.7b6f3","type":"tab","label":"PiCam2"},{"id":"12852de5.4340d2","type":"aws-config","z":""},{"id":"b026a4bf.c3f7c8","type":"watch","z":"6f7d319e.7b6f3","name":"PhotosDir","files":"/home/pi","x":100,"y":180,"wires":[["142e2d8f.68f2a2"]]},{"id":"142e2d8f.68f2a2","type":"delay","z":"6f7d319e.7b6f3","name":"","pauseType":"timed","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":180,"wires":[["b0a7989d.718868","ce57f3fa.0217b","11b9bdf5.641302"]]},{"id":"b0a7989d.718868","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":550,"y":180,"wires":[]},{"id":"ce57f3fa.0217b","type":"Save Blob","z":"6f7d319e.7b6f3","name":"Azure Save Blob Storage","x":610,"y":220,"wires":[["ceee1c22.0f2ab"]]},{"id":"ceee1c22.0f2ab","type":"debug","z":"6f7d319e.7b6f3","name":"","active":true,"console":"false","complete":"true","x":830,"y":220,"wires":[]},{"id":"e2e1f025.02972","type":"inject","z":"6f7d319e.7b6f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":110,"y":420,"wires":[["1784a0e2.47514f"]]},{"id":"1784a0e2.47514f","type":"exec","z":"6f7d319e.7b6f3","command":"/usr/bin/find","addpay":false,"append":"/home/pi -type f -name 'pi*_img*.jpg' -mtime +10 -delete","useSpawn":"","timer":"3","name":"","x":310,"y":420,"wires":[["e12527c7.c9c4f8"],["e12527c7.c9c4f8"],["e12527c7.c9c4f8"]]},{"id":"e12527c7.c9c4f8","type":"debug","z":"6f7d319e.7b6f3","name":"","active":true,"console":"false","complete":"true","x":490,"y":420,"wires":[]},{"id":"7bd2da9.0c28924","type":"comment","z":"6f7d319e.7b6f3","name":"Purge images 10+ days old everyday","info":"","x":190,"y":460,"wires":[]},{"id":"11b9bdf5.641302","type":"function","z":"6f7d319e.7b6f3","name":"Config AWS Blob","func":"msg.filename = msg.file;\nmsg.localFilename = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["99f03ce6.9a16"]]},{"id":"99f03ce6.9a16","type":"amazon s3 out","z":"6f7d319e.7b6f3","aws":"12852de5.4340d2","bucket":"macewan-home-frontdoor","filename":"","localFilename":"","region":"us-west-2","name":"","x":870,"y":280,"wires":[]}]