flows_pi1.json
[{"id":"6f7d319e.7b6f3","type":"tab","label":"PiCam1"},{"id":"96fd196d.3190c8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"ca04540.db43fb","type":"aws-config","z":""},{"id":"b026a4bf.c3f7c8","type":"watch","z":"6f7d319e.7b6f3","name":"PhotosDir","files":"/home/pi","x":100,"y":180,"wires":[["142e2d8f.68f2a2"]]},{"id":"142e2d8f.68f2a2","type":"delay","z":"6f7d319e.7b6f3","name":"","pauseType":"timed","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":180,"wires":[["b0a7989d.718868","ce57f3fa.0217b","492e883e.c3cce8","4162fa76.998b04"]]},{"id":"b0a7989d.718868","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":550,"y":180,"wires":[]},{"id":"ce57f3fa.0217b","type":"Save Blob","z":"6f7d319e.7b6f3","name":"Azure Save Blob Storage","x":610,"y":220,"wires":[["ceee1c22.0f2ab"]]},{"id":"ceee1c22.0f2ab","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":830,"y":220,"wires":[]},{"id":"b7f156.5d0c8ea8","type":"exec","z":"6f7d319e.7b6f3","command":"/usr/bin/find","addpay":true,"append":"/home/pi -type f -name 'pi*_img*.jpg' -mtime +10 -delete","useSpawn":false,"timer":"3","name":"","x":310,"y":420,"wires":[["ea04c941.cf2fa8"],["ea04c941.cf2fa8"],["ea04c941.cf2fa8"]]},{"id":"4c60b11b.15207","type":"comment","z":"6f7d319e.7b6f3","name":"Purge images 10+ days old everyday","info":"","x":190,"y":460,"wires":[]},{"id":"9c173dc9.4cc99","type":"inject","z":"6f7d319e.7b6f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":110,"y":420,"wires":[["b7f156.5d0c8ea8"]]},{"id":"8fb26bc7.a5ee88","type":"http request","z":"6f7d319e.7b6f3","name":"","method":"use","ret":"txt","url":"","tls":"96fd196d.3190c8","x":810,"y":340,"wires":[["a574f089.0cde1"]]},{"id":"4162fa76.998b04","type":"function","z":"6f7d319e.7b6f3","name":"Config Splunk HEC","func":"// strip off the last three numbers\nvar trimEpochDate = new Date().valueOf().toString();\ntrimEpochDate = trimEpochDate.substr(0,trimEpochDate.length-3);\n\n// node.warn(JSON.stringify(msg));\n// node.warn(escape(msg));\n\nmsg.payload = {\n    \"time\": parseInt(trimEpochDate),\n    \"host\":\"pi1\",\n    \"source\":\"blob storage\",\n    \"event\": JSON.stringify(msg)\n}\nmsg.headers = {\n    \"Authorization\" : \"Splunk 31E9DF7E-6A39-43B6-9C8A-7E6A562EE006\",\n    \"Content-Type\" : \"application/json\",\n    \"Cache-Control\": \"no-cache\"\n}\n\nmsg.url = \"https://maui.local:8088/services/collector/event\";\nmsg.method = \"POST\";\n\nreturn msg;","outputs":"1","noerr":0,"x":590,"y":340,"wires":[["8fb26bc7.a5ee88"]]},{"id":"a574f089.0cde1","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":990,"y":340,"wires":[]},{"id":"add9cdbb.24a91","type":"amazon s3 out","z":"6f7d319e.7b6f3","aws":"ca04540.db43fb","bucket":"macewan-home-backdoor","filename":"","localFilename":"","region":"us-west-2","name":"","x":870,"y":280,"wires":[]},{"id":"492e883e.c3cce8","type":"function","z":"6f7d319e.7b6f3","name":"Config AWS Blob","func":"msg.filename = msg.file;\nmsg.localFilename = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["add9cdbb.24a91"]]},{"id":"3037507e.e3798","type":"http request","z":"6f7d319e.7b6f3","name":"","method":"use","ret":"txt","url":"","tls":"96fd196d.3190c8","x":750,"y":420,"wires":[["789f1c89.d487c4"]]},{"id":"ea04c941.cf2fa8","type":"function","z":"6f7d319e.7b6f3","name":"Config Splunk HEC","func":"// strip off the last three numbers\nvar trimEpochDate = new Date().valueOf().toString();\ntrimEpochDate = trimEpochDate.substr(0,trimEpochDate.length-3);\n\nmsg.payload = {\n    \"time\": parseInt(trimEpochDate),\n    \"host\":\"pi1\",\n    \"source\":\"purge images\",\n    \"event\": JSON.stringify(msg)\n}\nmsg.headers = {\n    \"Authorization\" : \"Splunk 31E9DF7E-6A39-43B6-9C8A-7E6A562EE006\",\n    \"Content-Type\" : \"application/json\",\n    \"Cache-Control\": \"no-cache\"\n}\n\nmsg.url = \"https://maui.local:8088/services/collector/event\";\nmsg.method = \"POST\";\n\nreturn msg;","outputs":"1","noerr":0,"x":530,"y":420,"wires":[["3037507e.e3798"]]},{"id":"789f1c89.d487c4","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":930,"y":420,"wires":[]}]