flows_cog_svc_prediction_pi2.json
[
    {
        "id": "80d7ae2c.6acce",
        "type": "tab",
        "label": "Az Cognitive Service Prediction",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d114c4a6.f55678",
        "type": "debug",
        "z": "80d7ae2c.6acce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1530,
        "y": 760,
        "wires": []
    },
    {
        "id": "68d0bd94.f28d94",
        "type": "inject",
        "z": "80d7ae2c.6acce",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 20,
        "wires": [
            [
                "98a4deb2.af467"
            ]
        ]
    },
    {
        "id": "98a4deb2.af467",
        "type": "exec",
        "z": "80d7ae2c.6acce",
        "command": "ls -t | head -n1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Get latest image filename",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "5fa1ce18.b1c46"
            ],
            [],
            []
        ]
    },
    {
        "id": "62b2fa70.b2e794",
        "type": "file in",
        "z": "80d7ae2c.6acce",
        "name": "Binary Buffer",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "7d6d16dc.053588"
            ]
        ]
    },
    {
        "id": "5fa1ce18.b1c46",
        "type": "function",
        "z": "80d7ae2c.6acce",
        "name": "Process latest image",
        "func": "// trim the newline char\n// set flow level variable\nflow.set(\"base_file_name\", msg.payload.substring(0, msg.payload.length-1));\n\n// append filename property to msg object\nmsg.filename = \"/home/pi/\" + flow.get(\"base_file_name\");\n\n// debug\n// node.warn(msg.filename);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "4c33a9e5.f2e0f8"
            ]
        ]
    },
    {
        "id": "23bd55a.c8c58aa",
        "type": "exec",
        "z": "80d7ae2c.6acce",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Call Prediction Endpoint",
        "x": 790,
        "y": 580,
        "wires": [
            [
                "ea6fa18f.975e6",
                "f985c7c7.b7fd58",
                "dca112e6.06262"
            ],
            [],
            []
        ]
    },
    {
        "id": "7d6d16dc.053588",
        "type": "function",
        "z": "80d7ae2c.6acce",
        "name": "Complete Filename for cURL",
        "func": "const app_name = \"pi2\"\n\n// add '@' for cURL\nconst base_filename = \"\"\nprediction_filename = base_filename.concat('@', msg.filename)\n// debug\n// node.warn(prediction_filename)\n\n// bake the full cURL cmd\nconst curl_cmd = \"curl \" +\n    \"--location \" +\n    \"--request POST 'https://westus2.api.cognitive.microsoft.com/customvision/v3.1/Prediction/<project id>/classify/iterations/<iteration name>/image?application=\" + app_name + \"' \" +\n    \"--header 'Prediction-key: <key>' \" +\n    \"--header 'Content-Type: image/jpeg' \"+\n    \"--data-binary '\" + prediction_filename + \"'\";\n\n// set flow level variable\nflow.set(\"curl_cmd\", curl_cmd);\n// debug\n// node.warn(flow.get(\"curl_cmd\"));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "2cb27f1f.c0e48"
            ]
        ]
    },
    {
        "id": "2cb27f1f.c0e48",
        "type": "change",
        "z": "80d7ae2c.6acce",
        "name": "Config for Exec",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "curl_cmd",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "23bd55a.c8c58aa"
            ]
        ]
    },
    {
        "id": "7e31a222.76e94c",
        "type": "comment",
        "z": "80d7ae2c.6acce",
        "name": "/subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.CognitiveServices/accounts/<account>",
        "info": "",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "f7d863bd.8168f",
        "type": "Aleph Table Storage",
        "z": "80d7ae2c.6acce",
        "name": "Azure Table Storage",
        "debug": false,
        "x": 1320,
        "y": 700,
        "wires": [
            [
                "d114c4a6.f55678"
            ]
        ]
    },
    {
        "id": "f985c7c7.b7fd58",
        "type": "function",
        "z": "80d7ae2c.6acce",
        "name": "Insert into Az Table Storage",
        "func": "table_entity_payload = { \n  \"tableName\": \"noderedseccam\",\n  \"action\": \"I\", \n  \"partitionKey\": \"part1\", \n  \"rowKey\": msg._msgid, \n  \"data\": \n    {\n        \"FileName\" : flow.get(\"base_file_name\"),\n        \"Payload\" : msg.payload\n    }\n};\n// debug\n// node.warn(table_entity_payload)\n// node.warn(JSON.stringify(table_entity_payload))\n\n// save the JSON to the msg object for table storage node\nmsg.payload = table_entity_payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "f7d863bd.8168f"
            ]
        ]
    },
    {
        "id": "ea6fa18f.975e6",
        "type": "debug",
        "z": "80d7ae2c.6acce",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 990,
        "y": 580,
        "wires": []
    },
    {
        "id": "4c33a9e5.f2e0f8",
        "type": "function",
        "z": "80d7ae2c.6acce",
        "name": "Config ImageMagick",
        "func": "var imageMagickArgs = \"-format '%[mean]' \" + msg.filename\n\nmsg.payload = imageMagickArgs\n\n// debug\n// node.warn(msg)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "fd8944c7.341a68"
            ]
        ]
    },
    {
        "id": "d22273c2.dc839",
        "type": "comment",
        "z": "80d7ae2c.6acce",
        "name": "Check the image's mean with ImageMagick",
        "info": "If the image is mainly black (ie. too dark due to night), we'll skip saving it to AWS.",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "fd8944c7.341a68",
        "type": "exec",
        "z": "80d7ae2c.6acce",
        "command": "/usr/bin/identify",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "3",
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "966fb173.f2b38"
            ],
            [],
            []
        ]
    },
    {
        "id": "966fb173.f2b38",
        "type": "switch",
        "z": "80d7ae2c.6acce",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "4500",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "62b2fa70.b2e794"
            ]
        ]
    },
    {
        "id": "dca112e6.06262",
        "type": "function",
        "z": "80d7ae2c.6acce",
        "name": "Config Datadog Log",
        "func": "msg.payload = {\n    \"level\": \"Info\",\n    \"hostname\": \"pi2\",\n    \"service\": \"ai-prediction\",\n    \"ddsource\": \"node-red-sec-cam\",\n    \"ddtags\": \"tag:value,tag2:value2\",\n    \"message\": msg.payload\n}\nmsg.headers = {\n    \"DD-API-KEY\" : \"<api key>\",\n    \"DD-APPLICATION-KEY\" : \"<app key>\",\n    \"Content-Type\" : \"application/json\",\n    \"Cache-Control\": \"no-cache\"\n}\n\nmsg.url = \"https://http-intake.logs.datadoghq.com/api/v2/logs\";\nmsg.method = \"POST\";\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 1040,
        "y": 760,
        "wires": [
            [
                "a5411b16.7f61c8"
            ]
        ]
    },
    {
        "id": "a5411b16.7f61c8",
        "type": "http request",
        "z": "80d7ae2c.6acce",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1290,
        "y": 820,
        "wires": [
            [
                "d114c4a6.f55678"
            ]
        ]
    }
]