flows_pi2.json
[{"id":"6f7d319e.7b6f3","type":"tab","label":"PiCam2"},{"id":"12852de5.4340d2","type":"aws-config","z":""},{"id":"3827c158.54139e","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"4e7843d3.a1687c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"e2e1f025.02972","type":"inject","z":"6f7d319e.7b6f3","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":110,"y":420,"wires":[["1784a0e2.47514f"]]},{"id":"1784a0e2.47514f","type":"exec","z":"6f7d319e.7b6f3","command":"/usr/bin/find","addpay":false,"append":"/home/pi -type f -name 'pi*_img*.jpg' -mtime +7 -delete","useSpawn":"","timer":"3","name":"","x":310,"y":420,"wires":[["21ceb5f4.93dd7a"],["21ceb5f4.93dd7a"],["21ceb5f4.93dd7a"]]},{"id":"7bd2da9.0c28924","type":"comment","z":"6f7d319e.7b6f3","name":"Purge images 7+ days old every hour","info":"","x":190,"y":460,"wires":[]},{"id":"11b9bdf5.641302","type":"function","z":"6f7d319e.7b6f3","name":"Config AWS Blob","func":"msg.filename = msg.file;\n// msg.localFilename = msg.payload;\nmsg.localFilename = msg.upstreamPayload\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["99f03ce6.9a16"]]},{"id":"99f03ce6.9a16","type":"amazon s3 out","z":"6f7d319e.7b6f3","aws":"12852de5.4340d2","bucket":"macewan-home-frontdoor","filename":"","localFilename":"","region":"us-west-2","name":"","x":850,"y":240,"wires":[]},{"id":"1afb429a.05565d","type":"http request","z":"6f7d319e.7b6f3","name":"","method":"use","ret":"txt","url":"","tls":"3827c158.54139e","x":790,"y":300,"wires":[["571438f5.ac4ef8"]]},{"id":"f8254731.f09d98","type":"function","z":"6f7d319e.7b6f3","name":"Config Splunk HEC","func":"// strip off the last three numbers\nvar trimEpochDate = new Date().valueOf().toString();\ntrimEpochDate = trimEpochDate.substr(0,trimEpochDate.length-3);\n\n// node.warn(JSON.stringify(msg));\n// node.warn(escape(msg));\n\n// add ImageMacigck field to msg\n// assuming size, filename already present\nvar imMeanVal = msg.payload;\nmsg.imMeanVal = imMeanVal;\n\nmsg.payload = {\n    \"time\": parseInt(trimEpochDate),\n    \"host\":\"pi2\",\n    \"source\":\"blob storage\",\n    \"event\": JSON.stringify(msg)\n}\nmsg.headers = {\n    \"Authorization\" : \"Splunk 31E9DF7E-6A39-43B6-9C8A-7E6A562EE006\",\n    \"Content-Type\" : \"application/json\",\n    \"Cache-Control\": \"no-cache\"\n}\n\nmsg.url = \"https://maui.local:8088/services/collector/event\";\nmsg.method = \"POST\";\n\nreturn msg;","outputs":"1","noerr":0,"x":570,"y":300,"wires":[["1afb429a.05565d"]]},{"id":"571438f5.ac4ef8","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":970,"y":300,"wires":[]},{"id":"71dc3d5f.f53504","type":"http request","z":"6f7d319e.7b6f3","name":"","method":"use","ret":"txt","url":"","tls":"4e7843d3.a1687c","x":750,"y":420,"wires":[["852c13ca.dbd49"]]},{"id":"21ceb5f4.93dd7a","type":"function","z":"6f7d319e.7b6f3","name":"Config Splunk HEC","func":"// strip off the last three numbers\nvar trimEpochDate = new Date().valueOf().toString();\ntrimEpochDate = trimEpochDate.substr(0,trimEpochDate.length-3);\n\nmsg.payload = {\n    \"time\": parseInt(trimEpochDate),\n    \"host\":\"pi2\",\n    \"source\":\"purge images\",\n    \"event\": JSON.stringify(msg)\n}\nmsg.headers = {\n    \"Authorization\" : \"Splunk 31E9DF7E-6A39-43B6-9C8A-7E6A562EE006\",\n    \"Content-Type\" : \"application/json\",\n    \"Cache-Control\": \"no-cache\"\n}\n\nmsg.url = \"https://maui.local:8088/services/collector/event\";\nmsg.method = \"POST\";\n\nreturn msg;","outputs":"1","noerr":0,"x":530,"y":420,"wires":[["71dc3d5f.f53504"]]},{"id":"852c13ca.dbd49","type":"debug","z":"6f7d319e.7b6f3","name":"","active":false,"console":"false","complete":"true","x":930,"y":420,"wires":[]},{"id":"b026a4bf.c3f7c8","type":"watch","z":"6f7d319e.7b6f3","name":"PhotosDir","files":"/home/pi","x":80,"y":40,"wires":[["142e2d8f.68f2a2"]]},{"id":"142e2d8f.68f2a2","type":"delay","z":"6f7d319e.7b6f3","name":"","pauseType":"timed","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":40,"wires":[["a60e8b68.967948"]]},{"id":"fc2142dd.c8c8b","type":"exec","z":"6f7d319e.7b6f3","command":"/usr/bin/identify","addpay":true,"append":"","useSpawn":false,"timer":"3","name":"","x":560,"y":100,"wires":[["948d7dab.fc105"],[],[]]},{"id":"a60e8b68.967948","type":"function","z":"6f7d319e.7b6f3","name":"Config ImageMagick","func":"var imageMagickArgs = \"-format '%[mean]' \" + msg.payload\nvar upstreamFile = msg.file;\nvar upstreamSize = msg.size;\nvar upstreamPayload = msg.payload;\n\nmsg = {\n    \"payload\": imageMagickArgs,\n    \"file\": upstreamFile,\n    \"size\": upstreamSize,\n    \"upstreamPayload\": upstreamPayload\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["fc2142dd.c8c8b"]]},{"id":"948d7dab.fc105","type":"switch","z":"6f7d319e.7b6f3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"4500","vt":"num"}],"checkall":"true","outputs":1,"x":530,"y":180,"wires":[["11b9bdf5.641302","f8254731.f09d98"]]},{"id":"729420ff.d07b3","type":"comment","z":"6f7d319e.7b6f3","name":"Check the image's mean with ImageMagick","info":"If the image is mainly black (ie. too dark due to night), we'll skip saving it to AWS.","x":390,"y":140,"wires":[]}]